.table-div {
    margin: 20px;
    margin-top: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    border: 1px solid black;
}

.table-div table {
    width: 100%;
    border-collapse: "collapse";
    text-align: center;
   }

.table-div table thead {
    background-color: #d2c5c5;
     border: none;
}

#tr :hover{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .div-main{
    margin: 0;
    padding-top: 5px;
  }
  .table-div{ 
    margin: 0;
    margin-bottom: 5px;
  }
}
