.table-div {
    margin: 20px;
    margin-top: 0;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    overflow-x: auto; 
}

.table-div table {
    width: 100%;
    border-collapse: collapse; 
    text-align: center;
}

.table-div table thead {
    background-color: #d2c5c5;
    border: none;
}

#tr:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .div-main {
        margin: 0;
        padding-top: 5px;
    }

    .table-div {
        margin: 5px;
        padding: 8px;
        box-shadow: none; 
        border-radius: 5px;
    }

    .table-div table {
        font-size: 14px; 
    }

    .table-div td,
    .table-div th {
        padding: 6px;  
    }
}


@media screen and (max-width: 480px) {
    .table-div {
        margin: 3px;
        padding: 6px;
    }

    .table-div table {
        font-size: 13px;
    }

    .table-div td,
    .table-div th {
        padding: 5px;
    }
}
