.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-left: 0;
    margin-top: 0;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    height: calc(100vh - 60px);
}

.mainarea {
    border-left: 1px solid black;
    height: calc(100vh - 65px);
    overflow-y: auto;
    height: calc(100vh - 60px);
    background-color: #f2f4f6;
}

.div-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.div-main-head h2 {
    margin-bottom: 0;
}

.div-main-head p {
    margin-top: 0;
    color: #333;
}

.div-main div button {
    background-color: #195042;
    padding: 5px;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    cursor: pointer;
}

.div-main div button:hover {
    transform: scale(1.02);
}