.suggestion-box {
  list-style: none;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 4px;
  padding: 0;
}

.suggestion-box li {
  padding: 8px 10px;
  cursor: pointer;
}

.suggestion-box li:hover {
  background-color: #195042;
  color: white;
}

