.note {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
}

.show-itm-upper {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    margin-bottom: 20px;
    padding-top: 0;
}

.show-itm-upper h2 {
    background-color: rgb(240, 234, 234);
    border-bottom: 1px solid rgb(178, 178, 178);
    margin: 0;
    padding:10px
}

.item-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 0;
}

.item-table th, .item-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.item-table th {
  background-color: #f5f5f5;
  font-weight: 600;
}

.item-table tr:nth-child(even) {
  background-color: #fafafa;
}

.item-table tr:hover {
  background-color: #f1f1f1;
}

.edit-btn {
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.edit-btn:hover {
  background-color: #195042;
}

#itm-action{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

@media screen and (max-width: 768px) {
  .show-itm-upper {
    margin:30px 0; 
  }
}